<header>
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    <span>Hedge Me</span>
    <ng-container *ngIf="(currentAccount$ | async) == null; else signerInfo">
      <button
        mat-raised-button
        color="primary"
        (click)="connectMetamask()"
        [disabled]="!(hasMetamask$ | async)"
        [matTooltip]="(hasMetamask$ | async) ? '' : 'Please install Metamask.'"
      >
        Connect with MetaMask
      </button>
    </ng-container>
    <ng-template #signerInfo>
      {{ (currentAccount$ | async).address }} -
      {{ (currentAccount$ | async).balanceInEth }} ETH
      <a
        *ngIf="this.router.url.includes('home')"
        mat-button
        color="primary"
        routerLink="/admin"
        >Admin page</a
      >
      <a
        *ngIf="this.router.url.includes('admin')"
        mat-button
        color="primary"
        routerLink="/home"
        >Home page</a
      >
    </ng-template>
  </mat-toolbar>
</header>
